.footer-phone-number {
  font-size: 49px;
  font-weight: 900;
  font-family: Roboto;
  color: $cen-primary-color!important;
}

.fl-node-5c3e1caf49bf9 .fl-module-content .fl-icon i {
  text-align: center;
  background: rgb(129, 189, 65);
  border-radius: 0px!important;
}

.fl-node-5c3e1eab35387 .fl-module-content .fl-icon i {
  text-align: center;
  background: rgb(129, 189, 65);
  border-radius: 0px!important;
}