.form-text {
  color: $cen-primary-color!important;
  margin: 25px 5px 5px 0px;
  font-weight: bold;
}


input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url], textarea {

  background-color: rgba(235, 235, 235, 0.34)!important;
  border-radius: 0px!important;
  border: none;
}

button, input[type=button], input[type=submit] {
  background: #00B4C1;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 50px;
  font-weight: normal;
  text-shadow: none;
  border: 1px solid #00B4C1;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0px;
  margin-top: 20px;

  &:hover {
    background: #00B4C1;
    color: #fff;
    border: 1px solid #00B4C1;
    text-decoration: none;
  }

}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url], textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
  color: #fff;
}


input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url] {
  height: 44px;
}

.form-custom{
  height: 35px!important;
}