@media (max-width: 768px) {
  .fl-node-5c3e31107fb57 .fl-photo-img {
    width: 160px!important;
  }
}

.fl-builder-content[data-type="header"].fl-theme-builder-header-shrink img {
  margin-top: -300px;
}

.fl-node-5c3f910e69db5 > .fl-row-content-wrap {
  margin-top: -100px;
}